.jumbotron {
  text-align: center;
  background-color: black;
  color: limeGreen;
  border: solid;
  border-color: limegreen;
}

.container-fluid {
  text-align: center;
}

form {
  color: limegreen;
}

body {
  background-color: black;
  color: limegreen;
}

input,
select,
button {
  background-color: rgb(36, 36, 36);
  color: limegreen;
  border-color: limegreen;
}

::placeholder{
  color: limegreen;
  opacity: .4;
}